body {
    width: 500px;
}
* {
    font-family:'Roboto', sans-serif;

}
header, footer {
    background-color: #1f2937;
}
header {
    color: #e5e7eb;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
    font-size: 18px;
}
div {
    margin: 20px;
}
#quote {
    padding: 30px;
    padding-left: 50px;
    padding-bottom: 50px;
    background-color: lightgray;
}

#call {
    background-color: #3882f6;
}

footer {
    color: lightgray;
}
#header-link {
    display: inline;
}